* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#container {
  width: 50%;
  max-width: 400px;
  margin-inline: auto;
  margin-top: 80px;
}

#bolacristal {
  width: 300px;
  height: 250px;
}

h1 {
  font-family: "Rubik", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

p {
  font-family: "Rubik", sans-serif;
  margin-bottom: 40px;
  opacity: 0.7;
  font-size: 22px;
}

input,
button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  transition: filter 0.2s;
  margin-bottom: 30px;
}

button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 30px;
  transition: opacity 1s;
}

#resposta div {
  font-size: 20px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}
